.containerPokemom{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 100vh;
    width: 100%;
    max-width: 25rem;

    border:  5px solid rgb(0, 0, 0);
   position: absolute;

    border-radius: 2rem;
    
    color: white;
}

.hide{
    display: none;
}

.mostrarPoke{
    display: flex;
}

.voltarNum{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.voltar{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    
}

.sprite{
    height: 18rem;
    z-index: 3;
}
.efeitos{
    position: absolute;
    top: 4rem;
    width: 20rem;
    opacity: 0.45;
    z-index: 2;

}
.sombra{
    position: absolute;
    top: 21rem;
    width: 13rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 1;
}

.nome{
    margin-bottom: 0.5rem;
}

.gif{
    width: 2.5rem;
    margin: 0 0.5rem;    ;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem 0;
    border-radius: 1rem;
}

.types{
    display: flex;   
    justify-content: center;
    width: 100%; 
}

.types > p{
    margin: 0 1rem;
}

.type1, .type2{   
    border-radius: 2rem;
    padding: 0.25rem 1.5rem;    
}

/* .type1{
    background-color: rgb(16, 80, 32);
} */

.type2{
    background-color: rgb(62, 24, 105);
}

.pesoAltura{
    display: flex;   
    justify-content: center;
    width: 100%; 
    margin-top: 1rem;
}

.pesoAltura > div{
    padding: 0 2rem;
}

.pesoAltura > div:first-child{
    border-right: 1px solid ;
}

.stats{
    margin-top: 1rem;
    width: 100%;
    padding: 0 1rem;
}

.hp, .atk, .def, .spd{
    width: 2rem;
}

.hpBox, .atkBox, .defBox, .spdBox{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.hpValue, .atkValue, .defValue, .spdValue{
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid white;
    width: 2.1rem;

}

.hpBar, .atkBar, .defBar, .spdBar{
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(233, 233, 233, 0.5);
    flex: 1;
    margin-left: 0.5rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.hpBarInside{
    background-color: white;
    border-radius: 0.5rem;
    width: 50%;
    height: 100%;
}

.atkBarInside{
    background-color: white;
    border-radius: 0.5rem;
    width: 40%;
    height: 100%;
}

.defBarInside{
    background-color: white;
    border-radius: 0.5rem;
    width: 70%;
    height: 100%;
}

.spdBarInside{
    background-color: white;
    border-radius: 0.5rem;
    width: 90%;
    height: 100%;
}